@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');
*{
    margin: 0px;
    overflow: hidden;
}
.Container{
    display: flex;
    flex-direction: row;

}
.PartOne{
    display: flex;
    width: 50vw;
    height: 100vh;
    background-color: blue;
    background-image: url("C:\Users\ACER\Desktop\project 1 cuvette\capstone_project_cuvette1\capstone1\src\images\image 13home_img1.png");
    background-size: cover;
    justify-content: center;
    align-items: end;
    
}

.PartOne_Heading{
    width: 500px;
    height: 300px;
    margin-bottom: 75px;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 30px;
   
    color: white;
    font-family: 'Roboto', sans-serif;;
}

.PartTwo{
    width: 50vw;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', sans-serif;;
    text-align: center;
}

.checkbox{
 
    margin-top: 15px;
    margin-bottom:15px;

}

.PartTwo h1{
    font-size: 60px;
}
.termsDiv{
    width: 450px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: left;
    /* align-items: center; */
    
}

a{
    text-decoration: none;
    color: green;
    font-weight:bold;
}

button{
    width: 300px;
    height: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    border: none;
    border-radius: 50px;
    font-weight: 700;
    background-color: #72DB73;
    color :white;
    

}

.name{
    background-color:#292929;
    border: none;
    width: 300px;
    height: 30px;
    margin-top: 15px;
    font-weight: bold;

}